.border {
  border: solid white 1px;
}

:root {
  --white: white;
}

/* ///////////////////////////////// */
/* Scroll Bar */
/* ///////////////////////////////// */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #313131;
}

/* ///////////////////////////////// */
/* Type Selectors */
/* ///////////////////////////////// */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ///////////////////////////////// */
/* General Styles */
/* ///////////////////////////////// */

.flex-center {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

/* Tabs */

.side-tab-active {
  color: lightblue;
}

/* ///////////////////////////////// */
/* Top Navbar */
/* ///////////////////////////////// */

.top-nav-logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  padding-top: 5px;
}

.top-nav {
  height: 70px;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.top-nav-tab {
  color: rgb(255, 255, 255, 0.7);
  margin: 0 10px !important;
}

.menuIcon {
  cursor: pointer;
  color: rgb(255, 255, 255, 0.7);
}

.menuIcon:hover {
  color: var(--white);
}

.tab {
  border: 1px solid transparent;
  padding-bottom: 3px;
}

.tab:hover {
  border-bottom: solid var(--white) 1px;
}

.active {
  border-bottom: solid var(--white) 1px;
}

/* ///////////////////////////////// */
/* Welcome Page */
/* ///////////////////////////////// */

.overview-1-container {
  height: 84vh;
  max-width: 85vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* ///////////////////////////////// */
/* Spelling Page */
/* ///////////////////////////////// */

.spelling-input {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  text-align: center;
  font-size: 55px;
  border-style: solid;
  border-width: 0.5px;
  outline: none;
  border-radius: 5px;
  background-color: #1b1c1c;
  color: var(--white);
}

/* ///////////////////////////////// */
/* Planet Defender */
/* ///////////////////////////////// */

.planet {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  right: 70px;
  top: 250px;
  width: 300px;
  height: 300px;
}

.timer {
  font-size: 50px;
  color: white;
  position: absolute;
  left: 50%;
  top: 45.5%;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* .border:hover {
  background: linear-gradient(to right, red, green) !important;
} */

/* text fade out */

.fade-out {
  animation: fadeOut ease 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#planet-defender-text-field {
  background-color: black;
  border: solid #04a2fc 1px;
  border-radius: 5px;
  width: 500px;
  text-align: center;
}

.planet-defender-close {
  font-size: 75px;
  color: white;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.great {
  position: absolute;
  margin: auto;
  width: 512px;
  height: 350px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes dropPage {
  from {
    height: 100vh;
    padding-top: 20rem;
  }
  to {
    height: 0vh;
    padding-top: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dropPage {
  animation-name: dropPage;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.dropWord {
  display: none;
}

@keyframes wobble {
  0% {
    color: "white";
  }
  100% {
    color: "red" !important;
  }
}

.wobble {
  animation-name: wobble;
  animation-duration: 0.7s;
}

@keyframes shake {
  /* 0% {
    transform: ;
  } */
  30% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(3deg);
  }
  45% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 4s;
}

.square {
  width: 200px;
  height: 200px;
  background: orange;
}

.fade-line {
  border-bottom: solid lightblue 2px;
  height: 40px;
  width: 50vw;
}

@keyframes wipe-enter {
  0% {
    border-bottom: solid lightblue 2px;
  }
  100% {
    border-bottom: solid transparent 1px;
  }
}

.line-fade {
  animation: wipe-enter 3s 1 forwards;
}

/* ///////////////////////////////// */
/* Overview Page */
/* ///////////////////////////////// */

.overview-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 92%;
  max-height: 92%;
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}

.overview-table {
  border: none !important;
  overflow-y: scroll;
}

.overview-footer {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-height: 70px;
  padding: 0 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}
