:root {
  --white: white;
  --lightBlue: lightblue;
  --background: #1a1a1a;
  --grey: rgb(255, 255, 255, 0.7);
  --border: rgba(255, 255, 255, 0.12);
}

/* ///////////////////////////////// */
/* Animations */
/* ///////////////////////////////// */

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dropPage {
  from {
    height: 100vh;
    padding-top: 20rem;
  }
  to {
    height: 0vh;
    padding-top: 0;
  }
}

@keyframes wobble {
  0% {
    color: "white";
  }
  100% {
    color: "red" !important;
  }
}

@keyframes shake {
  30% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(3deg);
  }
  45% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ///////////////////////////////// */
/* Scroll Bar */
/* ///////////////////////////////// */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #313131;
}

/* ///////////////////////////////// */
/* Type Selectors */
/* ///////////////////////////////// */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ///////////////////////////////// */
/* General Styles */
/* ///////////////////////////////// */

.fc {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

/* ///////////////////////////////// */
/* Navigation */
/* ///////////////////////////////// */

.top-nav {
  height: 70px;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
}

.top-nav-tab {
  color: var(--grey);
  margin: 0 1vw !important;
}

.top-nav-button {
  margin-right: 2vw !important;
  padding: 2px 12px !important;
  font-weight: bold !important;
}

.tab {
  border: 1px solid transparent;
  padding-bottom: 3px;
}

.tab:hover {
  border-bottom: solid var(--grey) 1px;
}

.top-nav-logo {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  padding-top: 5px;
}

.active {
  border-bottom: solid var(--grey) 1px;
}

.side-tab-active {
  color: var(--lightBlue);
}

/* ///////////////////////////////// */
/* Navigation Media Queries */
/* ///////////////////////////////// */

@media only screen and (max-width: 1010px) {
  .top-nav {
    width: 90vw;
  }

  .top-nav-ibanban {
    display: none;
  }
}

/* ///////////////////////////////// */
/* Welcome Page */
/* ///////////////////////////////// */

.section-1-container {
  height: calc(100vh - 220px);
  max-width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 70px;
}

.section-1-container div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  gap: 15px;
  padding-right: 40px;
}

.section-1-ibanban {
  font-size: 41px !important;
  font-weight: bold !important;
  line-height: 80% !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.section-1-text {
  font-size: 20px !important;
  font-family: "Rubik", sans-serif !important;
}

.section-1-container img:last-child {
  /* animation: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
  width: 400px;
  height: 400px;
}

.section-1-button {
  font-size: 1em !important;
  width: 300px;
  font-weight: bold !important;
  margin-top: 30px !important;
}

.welcome-footer {
  height: 150px;
  width: 1000px;
  border-top: solid rgba(255, 255, 255, 0.12) 1px;
  justify-content: space-between;
}

.pop-in {
  opacity: 0;
}

.pop-in-animation {
  animation: pop-in 0.9s forwards;
  display: flex !important;
}

/* ///////////////////////////////// */
/* Welcome Page Media Queries */
/* ///////////////////////////////// */

@media only screen and (max-width: 1010px) {
  .section-1-container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 100vw !important;
    height: calc(100vh - 90px);
  }

  .section-1-container div:first-child {
    align-items: flex-start;
    max-width: 90vw;
    min-height: 0;
    padding-right: 0;
  }

  .section-1-ibanban {
    margin-top: 50px !important;
    font-weight: bold !important;
    line-height: 105% !important;
    padding-top: 70px;
  }

  .section-1-button {
    font-size: 16px;
    width: 100%;
    font-weight: bold !important;
    margin-top: 20px !important;
  }

  .section-1-text {
    font-size: 16px !important;
    font-weight: light !important;
  }

  .section-1-container img:last-child {
    width: 50vw;
    height: 50vw;
    justify-self: flex-end;
    margin-top: 70px;
  }

  .welcome-footer {
    width: 90vw;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-top: none;
  }

  .welcome-footer-icons {
    display: none;
  }

  .welcome-footer-text > * {
    font-size: 10px !important;
  }

  .welcome-footer-text :first-child {
    font-size: 14px !important;
  }

  .welcome-footer > img {
    width: 70px;
    height: 70px;
  }
}

/* ///////////////////////////////// */
/* Review Page */
/* ///////////////////////////////// */

.overview-container {
  width: 520px;
  margin: 0 auto;
  padding-top: 20px;
}

@media only screen and (max-width: 1010px) {
  .overview-container {
    max-height: 100%;
    width: 320px;
  }
}

/* ///////////////////////////////// */
/* Spelling Page */
/* ///////////////////////////////// */

.spelling-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 900px;
  min-height: calc(100vh - 140px);
  margin: 0 auto;
  padding-bottom: 100px;
}

.spelling-input {
  text-align: center;
  font-size: 55px;
  height: 5rem;
  width: 5rem;
  outline: none;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--white);
}

.spelling-word-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.overview-footer {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-height: 70px;
  width: 1000px !important;
  padding: 0 1.5rem;
  border-top: 1px solid var(--border);
}

.hearing-icon {
  font-size: 50px !important;
  color: var(--grey) !important;
  cursor: pointer !important;
}

.spelling-letters {
  display: flex;
  max-width: 84vw;
  gap: 1rem;
}

.spelling-win-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1010px) {
  .spelling-container {
    height: calc(100vh - 70px);
    width: 90vw;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 70px;
  }

  .spelling-word-container :first-child {
    font-size: 50px;
  }

  .spelling-input {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .spelling-letters {
    flex-wrap: wrap;
    gap: 5px;
  }

  .overview-footer,
  .hearing-icon {
    display: none !important;
  }

  .spelling-win-container {
    height: 500px;
  }

  .spelling-win-container :first-child {
    font-size: 30px !important;
  }
}

/* ///////////////////////////////// */
/* Planet Defender */
/* ///////////////////////////////// */

.planet-defender-container {
  background: url("/src/assets/bg.jpeg") repeat;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.planet {
  align-self: flex-end;
  width: 300px !important;
  height: 300px !important;
  margin-top: 70px;
}

.comet {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 210px;
  left: -10px;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background: url("/src/assets/asteroid.png") repeat center;
  background-size: cover;
  filter: brightness(200%);
}

.timer {
  font-size: 50px;
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 35.5%;
  z-index: 5500;
}

#planet-defender-text-field {
  background-color: black;
  border-radius: 5px;
  width: 500px;
  text-align: center;
}

.planet-defender-close {
  font-size: 75px !important;
  color: var(--white);
  cursor: pointer;
}

.planet-defender-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end !important;
  margin-bottom: 250px;
  /* border: solid white 1px; */
}

@media only screen and (max-width: 1010px) {
  .planet-defender-container {
    padding-top: 100px;
  }
  .planet {
    width: 100px !important;
    height: 100px !important;
    margin: 0;
  }

  .planet-defender-close {
    font-size: 35px !important;
    color: var(--white);
    cursor: pointer;
  }

  .comet {
    top: 190px;
    width: 75px;
    height: 75px;
  }

  .planet-defender-footer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 300px;
  }

  #planet-defender-text-field {
    background-color: black;
    height: 10px !important;
    width: 500px;
    text-align: center;
  }
}

.dropPage {
  animation-name: dropPage;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.dropWord {
  display: none;
}

.wobble {
  animation-name: wobble;
  animation-duration: 0.7s;
}

.shake {
  animation-name: shake;
  animation-duration: 4s;
}
