:root {
  --white: white;
  --lightBlue: lightblue;
  --background: #1a1a1a;
  --grey: rgb(255, 255, 255, 0.7);
  --border: rgba(255, 255, 255, 0.12);
}

/* ///////////////////////////////// */
/* Animations */
/* ///////////////////////////////// */

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wobble {
  0% {
    color: "white";
  }
  100% {
    color: "red" !important;
  }
}

@keyframes shake {
  30% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(3deg);
  }
  45% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.dropPage {
  animation-name: dropPage;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.dropWord {
  display: none;
}

.wobble {
  animation-name: wobble;
  animation-duration: 0.7s;
}

.shake {
  animation-name: shake;
  animation-duration: 4s;
}

/* ///////////////////////////////// */
/* Scroll Bar */
/* ///////////////////////////////// */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #313131;
}

/* ///////////////////////////////// */
/* Type Selectors */
/* ///////////////////////////////// */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ///////////////////////////////// */
/* General Styles */
/* ///////////////////////////////// */

.fc {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

/* ///////////////////////////////// */
/* Spelling Page */
/* ///////////////////////////////// */

.overview-footer {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-height: 70px;
  width: 1000px !important;
  padding: 0 1.5rem;
  border-top: 1px solid var(--border);
}

.spelling-win-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1010px) {
  .spelling-container {
    height: calc(100vh - 70px);
    width: 90vw;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 70px;
  }

  .spelling-word-container :first-child {
    font-size: 50px;
  }

  .spelling-input {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .spelling-letters {
    flex-wrap: wrap;
    gap: 5px;
  }

  .overview-footer,
  .hearing-icon {
    font-size: 30px !important;
  }

  .spelling-win-container {
    height: 500px;
  }

  .spelling-win-container :first-child {
    font-size: 30px !important;
  }
}

/* ///////////////////////////////// */
/* Planet Defender */
/* ///////////////////////////////// */

.planet-defender-container {
  background: url("/src/assets/bg.png") repeat;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 5500;
}

.planet {
  align-self: flex-end;
  width: 300px !important;
  height: 300px !important;
  margin-top: 70px;
  margin-right: 50px;
  border-radius: 50%;
  animation: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.comet {
  z-index: 100;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 150px;
  left: -10px;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background: url("/src/assets/comet.svg") repeat center;
  background-size: cover;
  filter: brightness(200%);
}

.timer {
  font-size: 50px;
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 35.5%;
  z-index: 5500;
}

#planet-defender-text-field {
  background-color: black;
  border-radius: 5px;
  width: 500px;
  text-align: center;
}

.planet-defender-close {
  font-size: 75px !important;
  color: var(--white);
  cursor: pointer;
}

.planet-defender-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end !important;
  margin-bottom: 250px;
}

/* ///////////////////////////////// */
/* Planet Defender Media Queries */
/* ///////////////////////////////// */

@media only screen and (max-width: 1010px) {
  .planet-defender-container {
    padding-top: 100px;
  }

  .planet {
    width: 100px !important;
    height: 100px !important;
    margin: 0;
  }

  .planet-defender-close {
    font-size: 35px !important;
    color: var(--white);
    cursor: pointer;
  }

  .comet {
    top: 190px;
    width: 75px;
    height: 75px;
  }

  .planet-defender-footer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 300px;
  }

  #planet-defender-text-field {
    background-color: black;
    height: 10px !important;
    width: 500px;
    text-align: center;
  }
}
